body{
  --dark-gradient: linear-gradient(135deg,  #0016b6 1%,#ff9022 100%);
  --light-gradient: linear-gradient(135deg,  #243fff 1%,#b55a04 100%);
}

@font-face {
    font-family: SegoeIcons;
    src: url('Segoe%20Fluent%20Icons.ttf');
}

@font-face {
  font-family:vgafix;
  src: url("vgafix.ttf");
}

html, body, #app {
  height: 100%;
  width: 100%;
  background: #243fff;
  background: var(--light-gradient);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243fff', endColorstr='#ff9022',GradientType=1 );
  margin:0px;
  padding:0px;
  font-family: 'Roboto', sans-serif;
  color:white;
  user-select:none;
  overflow: hidden;
  
}
.startWdgt{
  width:50%
  height:30% !important; 
  border-radius:25px;
  margin:0px;
  padding:0px;
  bottom:10px;
  left:10px;
  
}

.deskWdgt{
  min-width:calc(50vw + 100px) !important;
  border-radius:25px;
}
.start{
  background-color: #00000070;
  border-radius: 10px;
  width:25%;
  min-width:500px;
  bottom: 60px;
  position: absolute;
  left:10px;
  padding-left:20px;
  height:35%;
  min-height:600px;
  vertical-align: middle;
  
}

.tbar{
  position: absolute;
  bottom: 0px;
  width: calc(100% - 20px);
  height: 35px;
  font-size:large;
  align-self:center;
  background: black;
  margin:0px;
  border-radius: 10px 10px 10px 10px;
  background-color: #00000070;
  z-index:99999999999;
  text-align:left;
  margin:10px;

}
.tcontent{

    width: calc(100% - 25px);
    left: 1%;
    bottom: -7px;
    position: relative;

}
#replit-badge, .replit-badge{
  right: 5px !important;
  width: 25px;
  bottom:1px;
  position:fixed;
}
#taskbar_time{

}

#fullscreenBTN{
  top:26px;
  right:35px;
  position: relative;
  background: none;
  border: 0px;
  color:white;
  font-size: larger;
}

path:nth-of-type(1){
  opacity: 0;
}
rect:nth-of-type(1),a{
  max-width: 30px !important;
}

.icn{
  font-family: "SegoeIcons";
}

.desktop{
  width:100vw;
  height:100%;
  text-align:center;
}
.deskHead{
  display: inline-block;
  line-height: 10px !important;
  
}
.wb-header{
  background: #00000090;

}
.winbox{
  background: none;
  backdrop-filter: blur(5px);
}

.wb-body{
  background: #00000090;
  
}
.min > .wb-header {
  
  height: 35px !important;
  background:none !important;
  position:absolute;
}
.min{
  margin-left:5vw !important;
  z-index:99999999999 !important;
  box-shadow: none;
  width: fit-content;
  top:unset !important;
  bottom: 10px !important;
  
}

.desktop-icon:hover, .desktop-icon:focus {
  border-style: solid;
  border-color: darkblue;
  border-width:2px;
  box-sizing: border-box;
  
}
.desktop-icon{
  width: 125px;
  height:125px;
  box-sizing: border-box;
  vertical-align: middle;
   display:table-cell;
  margin:5px;
}
.desktop-icon>a>img{
  height:40px !important;
  
}
.icons{
  align-content:center;
  width:100vw;
  text-align:center;
  display:inline-block;
  justify-content:center;
  display: flex;
  justify-content: center;
}


.start-icon{
  width: fit-content;
  height:fit-content;
  box-sizing: border-box;
  vertical-align: top;
  display:table-cell;
  padding: none !important;
  width:65px !important;
  color:white;
}
.start-icon>button>img{
  padding: none !important;
  height:40px !important;
  color:white;
}
.start-icon>button{
  background:none;
  border:none;
  width:65px !important;
  color:white;
}

.start-header{
  display: inline;
  display: flex;
}
.start-header > button{
  background:none;
  border:0px;
}
.forceright-start{
  left: calc(100%)
}

.start >iframe{
  position: relative;
  left:-5px;
  border-radius: 10px;
  margin:10px;
}

.startdrop{
  position: absolute;
  top: 0px;
  height: 100vh !important;
  width: 100vw  !important;
  z-index: 99999999999999999999;
}

.virus > .wb-header >*{display: none !important;}
.virus>{z-index: 9999999999999999999999999999999999999999999999999999999999999999 !important;}



